doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        title MoneyManager
        link(rel="stylesheet" type="text/css" href="./common/common.css")
    body
        h1.sitettl MoneyManager
        main.main
            h2.content_ttl かけいぼ
            ul(style="list-style-type: none")
                - for (var i = 0; i < 5; i++)
                    li list
                -
