extends ./public/pug/layout

block title
    title MoneyManager
block meta
    meta(name='description', content='index.pug')
block content
    - for(var i = 1; i <= 100; i++)
        p メインコンテンツ#{i}
    -
