//
   Created by zf7he on 2017/05/23.
link(rel="stylesheet", type="text/css", href="./public/css/footer.css")
script(src='https://www.gstatic.com/firebasejs/3.4.1/firebase.js')
div(class="foo")
    input(type="date" id="date" required , style="color: white; background-color: black")
    input(class="bu" type='button', value='Enter', onclick='inputCheck()')
    input(class="bu" type='button', value='Clear', onclick='clearTextBox()')
    br
    input(type='text', size='30', id='category', placeholder="category", style="color: white; background-color: black")

    input(type='text', size='80', name='item' , placeholder="item" , style="color: white; background-color: black")
    br
    input(type='text', size='30', name='item' , placeholder="price", style="color: white; background-color: black")

    input(type='text', size='40', name='item', placeholder="place", style="color: white; background-color: black")

    input(type='text', size='80', name='item', placeholder="comment", style="color: white; background-color: black")

script(src='./public/js/input.js')

