//
   Created by zf7he on 2017/05/23.
link(rel="stylesheet", type="text/css", href="./public/css/footer.css")
script(src='https://www.gstatic.com/firebasejs/3.4.1/firebase.js')
p ふったー
table
    tr
        td
            input(type="date" disabled style="color: white; background-color: black")
        td 2
            input(type="date")
        td 3
            input(type="date")
input#logout(type="button" value="logout")
