//
   Created by zf7he on 2017/05/23.

block main
    main.main
        h2.content_ttl めいんコンテンツ
        ul(style="list-style-type: none")
            - for (var $i = 0; $i < 5; $i++)
            li list #{$i}
            -

            - var list = ['link', 'image', 'text']

            each item, index in list
                p #{item + index}
            -
        h3.content_ttl ぷー
