html {
    background-color: #2d2d30;
    color: lightgray;
    font-family: Ricty Diminished, Consolas, serif;
    height: 100%;
}

body {
    height: 95%;
}

.main {
    height: 80%;
    overflow: hidden;
}

input:hover{
    opacity:0.6;
}
