#left {
    float: left;
    width: 25%;
    height: 100%;
    border: solid lightgray 1px;
    overflow-y: scroll;
}

#left::-webkit-scrollbar {
    width: 12px;
}

#left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(150,150,150,150.5);
}
